body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 背景样式 */
html,
body {
    overflow: hidden;
}

/* 背景地图样式 */

.map {
    background-color: rgba(2, 2, 2, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    position: absolute;

}

/* .map img {
    display: block;
    outline: none;
    border: 0;
    height: 100%;
    width: 100%;
} */

/* 顶部nav样式 */
.top_nav {
    line-height: 30px;
    width: 100%;
    height: 30px;
    background-color: rgba(19, 18, 18, .3);
    /* background-color: rgba(255, 255, 255, .5); */
    /* border-radius: 10%; */
    position: absolute;
    top: 0;
    box-shadow: 0px 2px 10px 3px wheat;

}

/* 顶部NAV小圆点 */
.yuandian ul {
    width: 100px;
    margin: 5px auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: #408080;
    display: flex;
    justify-content: space-between;


}

.yuandian ul li {
    float: left;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* margin: 0 10px; */
    background-color: rgb(109, 215, 241);

}

/* 顶部标签 */
.top_nav a {
    color: white;
}

/* 底部nav样式 */
.bottom_nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 10%;
    background-color: rgba(233, 229, 10, 0.3);
    /* background-color: rgba(255, 255, 255, .5); */
    border-radius: 10%;
    position: absolute;
    bottom: 13px;
    left: 25%;
    box-shadow: 0px 10px 30px 10px wheat;
}


.bottom_nav a {
    overflow: hidden;
}

.bottom_nav a img {

    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
}

.bottom_nav a img:hover {
    width: 100px;
    height: 100px;
}





/* 时钟拖拽 */
.clock {
    /* background: url(../images/szbg.png) no-repeat center;
    background-size: 100%; */
    height: 60px;
    width: 70px;
    border-radius: 50%;
    background-color: tomato;
    border: 20px dashed #408080;
    
    outline: 10px solid yellow;
    
    position: absolute;
    top: 20%;
    right: 10%;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    

}